@{
  ViewBag.Title = "Shipping Company";
  Layout = "_Layout";
}

<h1>Welcome to our Shipping Company!</h1>
<h3>What would you like to do></h3>
<p><a href="/parcel/new">Create a new parcel</a></p>
<a href="/parcel/list">See your list of parcels</a>
<a href="/parcel/finalOrder">See your final order of parcels</a>