@{
  ViewBag.Title = "Shipping Company";
  Layout = "_Layout";
}

<div class="jumbotron">
<h3>Fill this form for parcel cost calculation:</h3>
</div>

<form action="/parcel/list" method="post">
  <div class="form-group">
    <label for="length">Length:</label>
    <input name="length" id="length" type="number"/>
  </div>
  <div class="form-group">
    <label for="width">Width:</label>
    <input name="width" id="width" type="number"/>
  </div>
  <div class="form-group">
    <label for="height">Height:</label>
    <input name="height" id="height" type="number"/> 
  </div>
  <div class="form-group">
    <label for="weight">Weight:</label>
    <input name="weight" id="weight" type="number"/> 
  </div>  
  <div class="form-group">
    <label for="destination">What is your parcel's destination?</label>
    <select class="form-control" name="destination" id="destination">
      <option value="Atlanta">Atlanta</option>
      <option value="Boston">Boston</option>
      <option value="Chicago">Chicago</option>
      <option value="Cleveland">Clevelend</option>
      <option value="Dallas">Dallas</option>
      <option value="Denver">Denver</option>
      <option value="Detroit">Detroit</option>
      <option value="Houston">Houston</option>
      <option value="Las Vegas">Las Vegas</option>
      <option value="Los Angeles">Los Angeles</option>
      <option value="New York">New York</option>
      <option value="Philadelphia">Philadelphia</option>
    </select>   
  </div>
  <button type="submit" class="btn btn-info btn-lg btn-primary">Add my parcel</button>
</form>

<p><a href="/parcel/finalOrder">See your final order of parcels</a></p>