@{
  ViewBag.Title = "Shipping Company";
  Layout = "_Layout";
}

<div class="jumbotron">
<h3>Final Order:</h3>
</div>

<img class="img-thumbnail" src="https://mens-wpengine.netdna-ssl.com/wp-content/uploads/2014/12/million-dollar-question-500-x-250.jpg" class="img-fluid" alt="">
@if (@Model != 0)
{
  <h4 class="p-2">Here's your Final Cost:</h4>
  <h1 class="p-2">$@Model</h1>
}
else
{
  <h4 class="p-4">You don't have parcels in order yet.</h4>
}